@model Covid_19_WebSite.Models.Enumeration

@{
    ViewBag.Title = "Details";
}

<style>
    .card{
        height:100%;
    }
</style>

<h2 class="my-4">Les détails de covid-19 pour la ville Séléctionner</h2>

<div class="">

    <div class="row text-center">

        <div class="col mr-3">
            <div class="card border-success text-white bg-success mb-3 " style="max-width: 20rem;">
                <div class="card-header">Nombre de cas morts </div>
                <div class="card-body">
                    <h4 class="card-title text-center">  @Html.DisplayFor(model => model.Cas_Mort) </h4>
                </div>
             </div>
        </div>
        <div class="col mr-3">
            <div class="card border-success card text-white bg-success mb-3" style="max-width: 20rem;">
                <div class="card-header">Nombre de cas rétablis </div>
                <div class="card-body">
                    <h4 class="card-title  text-center">  @Html.DisplayFor(model => model.Cas_Retablis) </h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-success card text-white bg-successg mb-3" style="max-width: 20rem;">
                <div class="card-header"> Nombre de cas confirmer </div>
                <div class="card-body">
                    <h4 class="card-title text-center"> @Html.DisplayFor(model => model.Cas_Confirmer)  </h4>
                </div>
            </div>
        </div>
        </div>
    <div class="row text-center my-3">


        <div class="col mr-3">
            <div class="card border-success card text-white bg-info mb-3 mr-3  col" style="max-width: 20rem;">
                <div class="card-header"> Date du résultats </div>
                <div class="card-body">
                    <h4 class="card-title text-center">   @Model.Date_Ins.GetValueOrDefault().ToShortDateString() </h4>
                </div>
            </div>
        </div>
        <div class="col mr-3">
            <div class="card border-success card text-white bg-info mb-3 mr-3  col" style="max-width: 20rem;">
                <div class="card-header">Le nom de la ville </div>
                <div class="card-body">
                    <h4 class="card-title text-center">  @Html.DisplayFor(model => model.Ville.Nom)  </h4>
                </div>
            </div>
        </div>
        <div class="col mr-3">
            <div class="card border-success card text-white bg-info mb-3" style="max-width: 20rem;">
                <div class="card-header">La région de la ville </div>
                <div class="card-body">
                    <h4 class="card-title text-center">  @Html.DisplayFor(model => model.Ville.Region.Nom)  </h4>
                </div>
            </div>
        </div>
    </div>
 </div>



<p>
    @Html.ActionLink("Modifer", "Edit", new { id = Model.UID }, htmlAttributes: new { @class = "btn btn-outline-success bt_w30" })
    <br />
    <br />
    @Html.ActionLink("Retour au liste", "Index", null, htmlAttributes: new { @class = "btn btn-outline-warning bt_w30" })
</p>
